<ion-header>
  <ion-toolbar color="primary">
    <ion-title>API</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goToHome()">
        <ion-back-button defaultHref="/places"></ion-back-button>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col size="12">
      <ion-list>
       <ion-card *ngFor="let i of photos">
         <ion-img [src]="i.thumbnailUrl"></ion-img>
         <ion-card-content>
         {{ i.title }}
         </ion-card-content>
       </ion-card>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>
